@import "reset.css";

img{
  max-width: 100%;
}
input{
  border: none;
  outline: none;
}
.ad-top{
    display:flex;
    background-color : #f5f5f5;
    padding:5px;
    justify-content:center;
    margin:0 auto 0 auto;
    height:80px;
    width: auto;
    align-items:center;
}
  .header{
    display:flex;
    background-color:rgb(255, 255, 255);
    padding:0 20px;
    height: 48px;
    justify-content:space-between;
  }
  .header-inner{
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  .header-inner-inside{
    align-items: center;
    display: flex;
  }
  .header-inner-inside > li{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    font-size: 14px;
    padding: 8px 10px 8px 10px
  }
  @media only screen and (min-width: 1024px) {
    
  }
  @media only screen and (min-width: 321px) and (max-width: 768px) {
      
  }
  @media only screen and (min-width: 321px) and (max-width: 768px) {
      
  }
  @media only screen and (min-width: 0px) and (max-width: 320px){
     
  }
  .search{
    height:100px;
    display:grid;
    grid-template-columns:1fr 2fr 10fr 4fr;
    grid-template-rows: 2fr 1fr;
    background-color:#F29100;
    margin-bottom:20px;
  }
  .logo-item{
    display:grid;
    justify-content: center;
    grid-column: 2/3;
    padding-top: 15px;
    grid-auto-flow: column;
  }
  .search-item{
    grid-column: 3/4;
    padding: 15px 8px 6px 8px;
  }
  .search-item-inner{
    display: flex;
    background-color: #FFFFFF;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 3px 0px inset,
     rgba(0, 0, 0, 0.12) 1px 1px 6px 0px inset;
    border-radius: 2px;
    
  }
  .search-item-inner-text{
    background-color: #FFFFFF;
    align-items: center;
    margin: 5px 10px;
    border: none;
    outline: none;
    width: 90%;
    flex-grow: 1;
    flex-shrink: 1 ;
  }
  .search-item-inner > select{
    background-color: rgba(124,124,124,.08);
    margin: 5px 0px;
    font-size: 15px;
    border: none;
    outline: none;
    flex-shrink: 1 ;
    width: 15%;
    cursor: pointer;
    padding-left: 10px ;
  }
  .search-item-inner-button{
    background-color: #ffffff;
    border: none;
    width: 5%;
    margin: 5px 10px;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-size: 30px 45px;
    flex-shrink: 1 ;
    background-position: center;
    max-width: 100%;
    outline: none;
    cursor: pointer;
  }
  .search-nav{
    grid-column: 4/5;
    display: flex;
    margin-top: 15px;
    margin-left : 20px;
    margin-right: 20px;
    height:50px;    
  }
  .search-nav-item{
    height: 100%;
    width: 25%;
    text-align: center;
    font-size: 10px;
    color: azure;
    margin: 0 5px;
  }
  .search-nav-item > input{
    width: 100%;
    height: 65%;
    background-color: transparent ;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center;
    margin-bottom: 5px;
  }
  .counting-item{
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
  }
  .counting-icon{
    width:22px;
    height: 19px;
    background: url("../images/sprite_index.png") no-repeat -8px 0;
  }
  .counting-number{
    color: azure;
    width: 50%;
    font-size: 13px;
    text-align: center;
  }
  .search-item-link{
    display: flex;
    grid-column: 3/4;
    font-size: 13px;
    color:azure;
  }
  .search-item-link > span{
    margin-top: 1%;
    margin-left:2%;
    cursor: pointer;
  }

  .exclusive-store{
    display:flex;
    height:26px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border-bottom: 3px solid #f90;
  }
  .exclusive-store-header{
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: #FF9600;
  }
  .exclusive-store-header::after{
    content: '\025B8';
    display: inline-block;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 50%;
    color: #FF9600;
  }
  .exclusive-store-list{
    background-color: rgb(214, 22, 70);
    font-size: 13px;
    color: azure;
    margin: 0 5px;
    border-radius: 20% 20% 0 0;
    text-align: center;
    cursor: pointer;
  }
  .ad-container-top{
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    padding: 4px 8px 6px 8px;
    color: rgb(73, 73, 204);
    background: linear-gradient(to bottom,#fff 0,#fff 70%,#ddd 100%);
  }

  .ad-container-top > span{
    padding: 0 16px 0 0;
  }

  .sidebar-container{
    box-sizing: border-box;
    width:25%;
    height:1800px;
 }
  .sidebar-hotzone{
    background-color: rgb(253, 253, 253);
    width: 100%;
    height: 10%;
  }
  .sidebar-hotzone-header{
    font-size: 15px;
    background-color: #ffeaa1;
    color: black;
    font-weight: 700;
    padding: 5px 10px;
    border-left: rgba(211, 197, 197, 0.877) 2px solid;
    border-right: rgba(211, 197, 197, 0.877) 2px solid;
  }
  .sidebar-inside-container{
    box-sizing: border-box;
    border: rgba(211, 197, 197, 0.877) 2px solid;
    padding: 5px 0;
  }
  .sidebar-inside-container > img{
    padding: 2px 2px 2px 5px;
    cursor: pointer;
  }  
  .main-container{
    display:flex;
    height:1800px;
    margin:0 50px;
  }
  .sidebar-category-menu{
    width: 100%;
    height:35%;
    border-bottom: rgba(211, 197, 197, 0.877) 2px solid;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
  }
  .category-menu-item{
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    height: 2.5%;
    padding-left: 5px;
  }
  .category-menu-item > li{
    width:60%;
    padding-left: 5px;
    list-style: none;
    font: 12px arial,helvetica,sans-serif;
    color: rgb(155, 155, 155);
    padding-top: 2px;
  }
  .category-menu-item-icon{
    background-image: url(../images/sprite_index.png);
    background-repeat: no-repeat;
    width: 21px ;
    height: 20px;
  }
  .category-menu-item-hotsale{
    padding-left: 10px;
    padding-top: 3px;
    text-align: center;
    font-size: 5px ;
    color:#f90;
  }
  .category-menu-item-footer{
    text-align: right;
    padding:5px;
    font-size: 12px; 
  }
  .ad-container{
    display: flex;
    height: 1800px;
    width: 1600px;;
    flex-wrap: wrap;
  }
  .main-ad-block{
    background-color:white;
    width:50%;
    height:900px;
  }
  .main-ad-block-1{
    width: 93%;
    height: 35.9%;
    margin: 10px;
    background-color: brown;
    border: solid 1px #ddd;
  }
  .main-ad-block-1list{
    display: flex;
    width: 100%;
    height: 7%;
    border: solid 1px #ddd;
    box-sizing: border-box;
  }
  .main-ad-block-1list-item:hover{
    background: linear-gradient(to bottom,#faac72 0,#f96d12 70%,#f25307 100%);
  }
  .main-ad-block-1list-item{
    background: linear-gradient(to bottom,#fff 0,#ededed 70%,#d2d2d2 100%);
    border: solid 1px #ddd;
    width: 20%;
    padding: 5px 0;
    font-size: 10px;
    text-align: center;
    cursor: default;
  }
  .main-ad-block-2img{
    background-image: url(../images/block1-2.jpg);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
  }
  .tab-ad-block{
    background-color:green;
    width:50%;
    height:900px;
  }
  .rt-column{
    background-color:purple;
    width:100%;
    height:900px;
  }
  .footer{
    background-color: burlywood;
    width: 100%;
    height: 193px;
  }
  